In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [13]:
df=pd.read_csv(r"C:\Users\Balaji\Desktop\Housing_RFR\housing.csv")
df.head()

,id,url,region,region_url,price,type,sqfeet,beds,baths,cats_allowed,...,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,image_url,description,lat,long,state
0,7049044568,https://reno.craigslist.org/apa/d/reno-beautif...,reno / tahoe,https://reno.craigslist.org,1148,apartment,1078,3,2.0,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/01616_daghmBUvTC...,Ridgeview by Vintage is where you will find al...,39.5483,-119.796,ca
1,7049047186,https://reno.craigslist.org/apa/d/reno-reduced...,reno / tahoe,https://reno.craigslist.org,1200,condo,1001,2,2.0,0,...,0,0,0,w/d hookups,carport,https://images.craigslist.org/00V0V_5va0MkgO9q...,Conveniently located in the middle town of Ren...,39.5026,-119.789,ca
2,7043634882,https://reno.craigslist.org/apa/d/sparks-state...,reno / tahoe,https://reno.craigslist.org,1813,apartment,1683,2,2.0,1,...,0,0,0,w/d in unit,attached garage,https://images.craigslist.org/00t0t_erYqC6LgB8...,2BD | 2BA | 1683SQFTDiscover exceptional servi...,39.6269,-119.708,ca
3,7049045324,https://reno.craigslist.org/apa/d/reno-1x1-fir...,reno / tahoe,https://reno.craigslist.org,1095,apartment,708,1,1.0,1,...,0,0,0,w/d in unit,carport,https://images.craigslist.org/00303_3HSJz75zlI...,MOVE IN SPECIAL FREE WASHER/DRYER WITH 6 OR 12...,39.4477,-119.771,ca
4,7049043759,https://reno.craigslist.org/apa/d/reno-no-long...,reno / tahoe,https://reno.craigslist.org,289,apartment,250,0,1.0,1,...,1,0,1,laundry on site,NaN,https://images.craigslist.org/01616_fALAWFV8zQ...,"Move In Today: Reno Low-Cost, Clean & Furnishe...",39.5357,-119.805,ca

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384977 entries, 0 to 384976
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       384977 non-null  int64
 1   url                      384977 non-null  object
 2   region                   384977 non-null  object
 3   region_url               384977 non-null  object
 4   price                    384977 non-null  int64
 5   type                     384977 non-null  object
 6   sqfeet                   384977 non-null  int64
 7   beds                     384977 non-null  int64
 8   baths                    384977 non-null  float64
 9   cats_allowed             384977 non-null  int64
 10  dogs_allowed             384977 non-null  int64
 11  smoking_allowed          384977 non-null  int64
 12  wheelchair_access        384977 non-null  int64
 13  electric_vehicle_charge  384977 non-null  int64
 14  comes_furnished          384977 non-null  int64
 15  laundry_options          305951 non-null  object
 16  parking_options          244290 non-null  object
 17  image_url                384977 non-null  object
 18  description              384975 non-null  object
 19  lat                      383059 non-null  float64
 20  long                     383059 non-null  float64
 21  state                    384977 non-null  object
dtypes: float64(3), int64(10), object(9)
memory usage: 64.6+ MB

In [21]:
outhouse=df[df["beds"]<2]
print(len(outhouse))
lenth=len(df)

print((len(outhouse)/lenth)*100)

128204
33.301729713723155

In [40]:
df.describe()

,id,price,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,lat,long
count,3.849770e+05,3.849770e+05,3.849770e+05,384977.000000,384977.000000,384977.000000,384977.000000,384977.000000,384977.000000,384977.000000,384977.000000,383059.000000,383059.000000
mean,7.040982e+09,8.825722e+03,1.059900e+03,1.905345,1.480718,0.726890,0.707918,0.731771,0.082111,0.012871,0.048128,37.233487,-92.700631
std,8.800376e+06,4.462200e+06,1.915076e+04,3.494572,0.618061,0.445557,0.454721,0.443038,0.274535,0.112718,0.214036,5.546171,16.531980
min,7.003808e+09,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-43.533300,-163.894000
25%,7.035979e+09,8.050000e+02,7.500000e+02,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33.454700,-100.775000
50%,7.043320e+09,1.036000e+03,9.490000e+02,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,37.647800,-87.745100
75%,7.048426e+09,1.395000e+03,1.150000e+03,2.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,41.138300,-81.179600
max,7.051292e+09,2.768307e+09,8.388607e+06,1100.000000,75.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,102.036000,172.633000

In [41]:
df.isna().sum()

id                              0
url                             0
region                          0
region_url                      0
price                           0
type                            0
sqfeet                          0
beds                            0
baths                           0
cats_allowed                    0
dogs_allowed                    0
smoking_allowed                 0
wheelchair_access               0
electric_vehicle_charge         0
comes_furnished                 0
laundry_options             79026
parking_options            140687
image_url                       0
description                     2
lat                          1918
long                         1918
state                           0
dtype: int64

In [42]:
df=df.drop(["id","url","state","region_url","description","image_url"],axis=1)

In [43]:
print(df['laundry_options'].fillna(df['laundry_options'].mode()[0]))

0             w/d in unit
1             w/d hookups
2             w/d in unit
3             w/d in unit
4         laundry on site
               ...
384972        w/d in unit
384973        w/d in unit
384974    laundry on site
384975        w/d in unit
384976        w/d in unit
Name: laundry_options, Length: 384977, dtype: object

In [44]:
df['laundry_options'] = df['laundry_options'].fillna(df['laundry_options'].mode()[0])
df['parking_options'] = df['parking_options'].fillna(df['parking_options'].mode()[0])

In [45]:
df['lat'] = df['lat'].fillna(df['lat'].mean())
df['long'] = df['long'].fillna(df['long'].mean())

In [46]:
df["laundry_options"].describe()

count          384977
unique              5
top       w/d in unit
freq           210809
Name: laundry_options, dtype: object

In [47]:
df.laundry_options.value_counts()

w/d in unit           210809
w/d hookups            75568
laundry on site        58873
laundry in bldg        36103
no laundry on site      3624
Name: laundry_options, dtype: int64

In [48]:
df.type.value_counts()

apartment          318032
house               33266
townhouse           15885
condo                6238
duplex               5047
manufactured         4242
cottage/cabin         861
loft                  693
flat                  531
in-law                172
land                    8
assisted living         2
Name: type, dtype: int64

In [49]:
df.region.value_counts()

jacksonville      4246
columbus          3738
rochester         3677
jackson           3667
fayetteville      3652
                  ...
southwest MS        12
st louis             9
southwest TX         9
fort smith, AR       5
kansas city          3
Name: region, Length: 404, dtype: int64

In [50]:
df.beds.value_counts()

2       175513
1       117226
3        67037
4        11575
0        10978
5         2324
6          240
7           49
8           31
1000         2
1100         2
Name: beds, dtype: int64

In [51]:
df.baths.value_counts()

1.0     198184
2.0     134649
1.5      27363
2.5      13162
3.0       5549
0.0       3107
4.0       1495
3.5       1007
4.5        231
5.0        131
5.5         57
6.0         26
7.0          4
6.5          4
75.0         2
7.5          2
8.5          1
35.0         1
8.0          1
25.0         1
Name: baths, dtype: int64

In [52]:
df["baths"]=df["baths"].astype("int")

In [53]:
df.baths.value_counts()

1     225547
2     147811
3       6556
0       3107
4       1726
5        188
6         30
7          6
8          2
75         2
35         1
25         1
Name: baths, dtype: int64

In [54]:
outlier1 = ((df["beds"]>4) | (df["baths"]>4))
outlier2=(df["price"]<100) | (df["price"]>20000)
outlier3=(df["sqfeet"]<100) | (df["sqfeet"]>6000)
print(df[outlier1]["price"].count())
print(df[outlier2]["beds"].count())
print(df[outlier3]["price"].count())

2705
2384
1144

In [55]:
df=df[~outlier1]
df=df[~outlier2]
df=df[~outlier3]

C:\Users\Balaji\AppData\Local\Temp\ipykernel_13220\3467330745.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df=df[~outlier2]
C:\Users\Balaji\AppData\Local\Temp\ipykernel_13220\3467330745.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df=df[~outlier3]

In [56]:
df.region.value_counts()

jacksonville      4209
columbus          3648
jackson           3639
fayetteville      3638
rochester         3629
                  ...
southwest MS        10
st louis             9
southwest TX         6
fort smith, AR       5
kansas city          3
Name: region, Length: 404, dtype: int64

In [57]:
df.sqfeet.value_counts()

1000    10064
900      8464
1100     6949
800      6871
700      6649
        ...
4537        1
2594        1
3681        1
2609        1
3006        1
Name: sqfeet, Length: 2935, dtype: int64

In [58]:
df.price.value_counts()

750     4191
800     3966
850     3935
1200    3728
950     3552
        ...
4569       1
4645       1
3386       1
3082       1
7685       1
Name: price, Length: 3787, dtype: int64

In [59]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df_m=df

In [60]:
df_m["region"]=le.fit_transform(df["region"])
df_m["type"]=le.fit_transform(df["type"])
df_m["laundry_options"]=le.fit_transform(df["laundry_options"])
df_m["parking_options"]=le.fit_transform(df["parking_options"])

C:\Users\Balaji\AppData\Local\Temp\ipykernel_13220\3020318321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m["region"]=le.fit_transform(df["region"])
C:\Users\Balaji\AppData\Local\Temp\ipykernel_13220\3020318321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m["type"]=le.fit_transform(df["type"])

In [61]:
df_m

,region,price,type,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,lat,long
0,286,1148,0,1078,3,2,1,1,0,0,0,0,4,1,39.5483,-119.796
1,286,1200,2,1001,2,2,0,0,0,0,0,0,3,1,39.5026,-119.789
2,286,1813,0,1683,2,2,1,1,1,0,0,0,4,0,39.6269,-119.708
3,286,1095,0,708,1,1,1,1,1,0,0,0,4,1,39.4477,-119.771
4,286,289,0,250,0,1,1,1,1,1,0,1,1,4,39.5357,-119.805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384972,286,1295,0,957,2,2,1,1,1,0,0,0,4,1,39.4477,-119.771
384973,286,1549,0,1034,2,2,1,1,0,0,0,0,4,4,39.6269,-119.708
384974,286,1249,0,840,2,1,1,1,1,0,0,0,1,4,39.5358,-119.746
384975,286,1429,0,976,2,2,1,1,1,0,0,0,4,1,39.5585,-119.703
384976,286,1295,0,957,2,2,1,1,1,0,0,0,4,1,39.4477,-119.771

In [62]:
x=df_m.drop(columns=["price"])
y=df_m["price"]

In [63]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
x_scaled=scalar.fit_transform(x)

In [64]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20,random_state=450)

In [65]:
model = RandomForestRegressor(n_estimators = 30)

In [66]:
model.fit(x_train, y_train)

RandomForestRegressor(n_estimators=30)

In [67]:
model.score(x_test, y_test)

0.815112575029391

In [68]:
y_pred=model.predict(x_test)

In [69]:
from sklearn import metrics
print('MSE:',metrics.mean_squared_error(y_test, y_pred))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MSE: 69196.18564875016
RMSE: 263.05167866552415